<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="content-language" content="zh-CN" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="renderer" content="webkit">
    <link rel="stylesheet" type="text/css" href="..\css\style.css">
    <!-- <link rel="stylesheet" type="text/css" href="..\css\slide.css"> -->
    <title>天能动力香港有限公司</title>
</head>
<body class="body-s">
	<div class="outer-box">
		<div class="top">
			<div class="wrapper">
				<div class="logo">
                    <a href="">
                        <img src="../img/logo.jpg" alt="logo">
                    </a>
                </div>
                <div class="top-right">
                	<div class="function">
                        <div class="lang-bar">
                        </div>
                        <div class="search-box">
                        	<div class="search-input">
                        		<input type="text" value="搜索" id="search-box" name="textfield" onfocus="if (value =='搜寻'){value =''}"  onblur="if (value ==''){value='搜寻'}">
                        	</div>
                        	<div class="search-btn">
                        		<a href="#"></a>
                        	</div>
                        </div>
                        <div class="text-box">
                        	<ul>
                        		<li class="tx1 current"></li>
                        		<li class="tx2">
                        			<a href=""></a>
                        		</li>
                        		<li class="tx3">
                        			<a href=""></a>
                        		</li>

                        	</ul>
                        </div>
                        <div class="home-mu">
                        	<ul>
                        		<li class="hm1">
                        			<a href=""></a>
                        		</li>
                        		<li class="hm2"></li>
                        		<li class="hm3">
                        			<a href=""></a>
                        		</li>
                        	</ul>
                        </div>
                    </div>
                    <div class="menu">
                        <ul>
                            <!-- <li class="mu-li1">
                                <a href=""></a>
                            </li>
                            <li class="mu-li2">
                                <a href=""></a>
                            </li> -->
                            <li class="mu-li3">
                                <a href=""></a>
                            </li>
                            <li class="mu-li4">
                                <a href=""></a>
                            </li>
                            <li class="mu-li5">
                            	<a href=""></a>
                            </li>
                            <li class="mu-li6 current">
                            	<a href=""></a>
                            </li>
                        </ul>
                    </div>
                </div>
			</div>
		</div>
		<div class="page-content">
			<div class="page-left">
                <div class="left-mu">
                    <ul>
                        <li>
                        	<a href="../view/about">集团概况</a>
                        </li>
                        <li>
                        	<a href="">集团景愿</a>
                        </li>
                        <li>
                        	<a href="">主席致辞</a>
                        </li>
                        <li>
                        	<a href="">集团荣誉</a>
                        </li>
                        <li class="current">
                        	<a href="">公司资料</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="page-right">
            	<div class="page-title">
            		<img src="../img/about-t6.png">
            	</div>
            	<div class="page-txt">
            		<div class="pt-top"></div>
            		<div class="pt">
            			<div class="page-inner">
            				<div class="page-main">
            					<table width="100%" border="0" cellspacing="0" cellpadding="0" class="miss_table">
            						<tbody>
            							<tr>

                                            <td width="25%" valign="top" bgcolor="#f2f2f2">
                                            	<strong>董事会：</strong>
                                            </td>

                                            <td width="75%" bgcolor="#f2f2f2">
                                            	<strong>执行董事：</strong>
                                            	<br />

                                                张天任博士（主席） 张敖根先生 张开红先生 史伯荣先生 周建中先生
                                                <br />
                                                <br />

                                                <strong>独立非执行董事：</strong>
                                                <br />

                                                黄董良先生 吴锋先生 张湧先生

                                                <br />
                                                <br />
                                                <strong>高级管理层：</strong>
                                                <br />

                                                赵海敏先生 <!--王志坤先生 -->王静女士 许惠敏女士
                                            </td>

                                        </tr>

                                        <tr>

                                            <td valign="top" bgcolor="#f2f2f2">
                                            	<strong>香港营业地点：</strong>
                                            </td>

                                            <td bgcolor="#f2f2f2">香港湾仔港湾道18号中环广场3202室
                                            </td>

                                        </tr>
            						</tbody>
            					</table>
            				</div>
            			</div>
            		</div>
            	</div>
            </div>
		</div>
		<div class="footer">
        	<div class="wrapper">
        		<div class="foot-logo">
                <img src="../img/foot-logo.jpg">
                </div>
                <!-- 底部logo -->
                <div class="foot-copy">
                	<div class="copy-wrap">
                		@ 
                		<script type="text/javascript">var date = new Date();document.write(date.getFullYear());
                	    </script> 
                	    天能动力香港有限公司。版权所有 不得转载。 <span>|</span> 
                		<a href="javascript" onclick="javascript:window.open('disclaimer.php','disclaimer','status=yes,scrollbars=no,width=400,height=420')">免责声明</a>	
                		<span>|</span>                    		
                		<a href="" target="blank">联系我们</a>                   		
                	</div>

                </div>
        	</div>

        </div>
        <div class="page-bg about-bg">      
        </div>
	</div>

</body>
</html>