<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="content-language" content="zh-CN" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="renderer" content="webkit">
    <link rel="stylesheet" type="text/css" href="..\css\style.css">
    <!-- <link rel="stylesheet" type="text/css" href="..\css\slide.css"> -->
    <title>天能动力香港有限公司</title>
</head>
<body class="body-s">
	<div class="outer-box">
		<div class="top">
			<div class="wrapper">
				<div class="logo">
                    <a href="">
                        <img src="../img/logo.jpg" alt="logo">
                    </a>
                </div>
                <div class="top-right">
                	<div class="function">
                        <div class="lang-bar">
                        </div>
                        <div class="search-box">
                        	<div class="search-input">
                        		<input type="text" value="搜索" id="search-box" name="textfield" onfocus="if (value =='搜寻'){value =''}"  onblur="if (value ==''){value='搜寻'}">
                        	</div>
                        	<div class="search-btn">
                        		<a href="#"></a>
                        	</div>
                        </div>
                        <div class="text-box">
                        	<ul>
                        		<li class="tx1 current"></li>
                        		<li class="tx2">
                        			<a href=""></a>
                        		</li>
                        		<li class="tx3">
                        			<a href=""></a>
                        		</li>

                        	</ul>
                        </div>
                        <div class="home-mu">
                        	<ul>
                        		<li class="hm1">
                        			<a href=""></a>
                        		</li>
                        		<li class="hm2"></li>
                        		<li class="hm3">
                        			<a href=""></a>
                        		</li>
                        	</ul>
                        </div>
                    </div>
                    <div class="menu">
                        <ul>
                            <!-- <li class="mu-li1">
                                <a href=""></a>
                            </li>
                            <li class="mu-li2">
                                <a href=""></a>
                            </li> -->
                            <li class="mu-li3">
                                <a href=""></a>
                            </li>
                            <li class="mu-li4">
                                <a href=""></a>
                            </li>
                            <li class="mu-li5">
                            	<a href=""></a>
                            </li>
                            <li class="mu-li6 current">
                            	<a href=""></a>
                            </li>
                        </ul>
                    </div>
                </div>
			</div>
		</div>
		<div class="page-content">
			<div class="page-left">
                <div class="left-mu">
                    <ul>
                        <li>
                        	<a href="../view/about">集团概况</a>
                        </li>
                        <li>
                        	<a href="">集团景愿</a>
                        </li>
                        <li>
                        	<a href="">主席致辞</a>
                        </li>
                        <li class="current">
                        	<a href="">集团荣誉</a>
                        </li>
                        <li>
                        	<a href="">公司资料</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="page-right">
            	<div class="page-title">
            		<img src="../img/about-t4.png">
            	</div>
            	<div class="page-txt">
            		<div class="pt-top"></div>
            		<div class="pt">
            			<div class="page-inner">
            				<div class="page-main">
            					<div class="text-tit">
            						<ul>
            							<li class="hov" onmouseover="show(this,'cont','hov')" name="d-1">
            								<a href="#">集团荣誉</a>
            							</li>
<!--                                         <li onmouseover="show(this,'cont','hov')" name="d-2">
                                        	<a href="#">技术研发</a>
                                        </li>
                                        <li onmouseover="show(this,'cont','hov')" name="d-3">
                                        	<a href="#">行业地位</a>
                                        </li> -->
            						</ul>
            					</div>
            					<div class="clear"></div>
            					<div class="text-cont" name="cont">
            						<table width="100%" border="0" cellpadding="0" cellspacing="20">
            							<tbody>
            								<tr valign="top">
                                                <td width="50%" align="center" valign="bottom">
                                            	    <img src="../img/brand/36.jpg" width="182" height="260"/>
                                            	    <br />
                                                    最佳投资者关系管理
                                                </td>
                                                <td width="50%" align="center" valign="bottom">
                                            	    <img src="../img/brand/35.jpg" width="182" height="260"/>
                                            	    <br />
                                                    最具投资价值上市公司
                                                </td>
                                            </tr>
					                        <tr valign="top">
                                                <td width="50%" align="center" valign="bottom">
                                                	<img src="../img/brand/34.jpg" width="182" height="260"/>
                                                	<br />
                                                    最具成长性上市公司
                                                </td>
					                            <td width="50%" align="center" valign="bottom">
					                            	<img src="../img/brand/21.gif" />
					                            	<br />
                                                    中国轻工业百强企业</td>
                                            </tr>
					                        <tr valign="top">
						                        <td width="50%" align="center" valign="bottom">
						                        	<img src="../img/brand/23.gif" />
						                        	<br />
                                                    全球新能源企业500强
                                                </td>
						                        <td align="center" valign="bottom">
						                        	<img src="../img/brand/24.gif" />
						                        	<br />
                                                    财富中国500强
                                                </td>
                                            </tr>
                                            <tr valign="top">
						                        <td align="center" valign="bottom">
						                        	<img src="../img/brand/18.gif" />
						                        	<br />
							                        中国轻工业电池行业十强第一
							                    </td>
						                        <td width="50%" align="center" valign="bottom">
						                        	<img src="../img/brand/19.gif" />
						                        	<br />
						                         	中国民营企业500强
						                        </td>
                                            </tr>
                                            <tr valign="top">
						                        <td width="50%" align="center">
						                        	<img src="../img/brand/28.png" style="margin-top: 30px;" />
						                        	<br />
                                                    财富中国500强
                                                </td>
						                        <td width="50%" align="center" valign="bottom">
						                        	<img src="../img/brand/29.png" />
						                        	<br />
                                                    恒生可持续指数成份股
                                                </td>
                                            </tr>
					 
					                        <tr valign="top">
						                        <td width="50%" align="center">
						                        	<img src="../img/brand/30.gif" />
						                        	<br />
                                                    最佳投资者关系
                                                </td>
						                        <td width="50%" align="center" valign="bottom">
						                    	    <img src="../img/brand/31.gif" />
						                    	    <br />
                                                    MSCI指数成份股
                                                </td>
                                            </tr>
					                        <tr valign="top">
						                        <td width="50%" align="center">
						                    	    <img src="../img/brand/32.gif" style="margin-top: 30px;" />
						                    	    <br />
                                                    国家循环经济试点企业
                                                </td>
						                        <td align="center">
						                        	<img src="../img/honour/19.gif" />
						                        	<br />
						                            全国五一劳动奖状
						                        </td>
                                            </tr>
					 
                                            <tr valign="top">
                                                <td align="center">
                                                	<img src="../img/honour/20.gif" style="margin-top: 92px;" />
                                                	<br />
						                            全国轻工业信息化与工业化深度融合示范企业
						                        </td>
						                        <td align="center" valign="bottom">
						                        	<img src="../img/brand/16.gif" />
						                        	<br />
						                            中国电动车动力电池领导品牌
						                        </td>
                                            </tr>
                                            <tr valign="top">
						                        <td align="center" valign="bottom">
						                    	    <img src="../img/brand/17.gif" />
						                    	    <br />
						                            中国电动车动力电池销量第一
						                        </td>
						                        <td align="center" valign="bottom">
						                        	<img src="../img/brand/05.gif"/>
						                        	<br />
                                                2011年中国动力电池领导力卓越奖
                                                </td>
                                            </tr>

                                            <tr valign="top">
                                                <td align="center" valign="bottom">
                                                	<img src="../img/brand/06.gif"/>
                                                	<br />
                                                    2011年中国动力电池最佳品牌
                                                </td>
						                        <td align="center" valign="bottom">
						                        	<img src="../img/brand/07.gif"/>
						                        	<br />
                                                    2010年中国动力电池最佳品牌
                                                </td>
                                            </tr>
                                            <tr valign="top">
						                        <td align="center" valign="bottom">
						                        	<img src="../img/brand/14.gif"/>
						                        	<br />
                                                    2008年中国动力电池最佳品牌
                                                </td>
						                        <td align="center" valign="bottom">
						                        	<img src="../img/brand/22.gif"/>
						                        	<br />
                                                    2011年国际太阳能产业及光伏工程（上海） 展览会暨
                                                    <br />
                                                    论坛「十大亮点」吉瓦级金奖
                                                </td>
                                            </tr>
                                            <tr valign="top">
						                        <td align="center" valign="bottom">
						                        	<img src="../img/brand/09.gif"/>
						                        	<br />
							                        2009年最值得消费者信赖的电动车电池品牌
							                    </td>
                                                <td align="center" valign="bottom">
                                                	<img src="../img/brand/10.gif"/>
                                                	<br />
							                        2009年推动中国电动车产业发展突出贡献奖
							                    </td>
                                            </tr>
                                            <tr valign="top">
						                        <td width="50%" align="center">
						                        	<img src="../img/brand/33.gif" />
						                        	<br />
                                                    资源综合利用企业
                                                </td>
                         
                                            </tr>

                                            <tr valign="top">
                                            </tr>
                                            <tr valign="top">

                                                <td align="center" valign="bottom"></td>
                                             </tr>
            							</tbody>
                                    </table>
            					</div>
            					<div class="text-cont" name="cont" style="display: none;">
            						<table width="100%" border="0" cellpadding="0" cellspacing="20">
            							<tbody>
            								<tr valign="top">
											    <td width="50%" align="center" valign="bottom">
											    	<img src="../img/rd/01.gif" />
											    	<br />
												    国家认定企业技术中心
												</td>
											    <td width="50%" align="center" valign="bottom">
											    	<img src="../img/rd/15.gif" />
											    	<br />
												    院士专家工作站
												</td>
											</tr>
											<tr valign="top">
											    <td align="center" valign="bottom">
											    	<img src="../img/rd/16.gif" />
											    	<br />
												    博士后科研工作站
												</td>
											    <td align="center" valign="bottom">
											    	<img src="../img/rd/17.gif" />
											    	<br />
												    省级企业研究院
												</td>
											</tr>
											<tr valign="top">
										        <td align="center" valign="bottom">
										        	<img src="../img/rd/26.gif" />
										        	<br />
												    国家技术创新示范企业
												</td>
											    <td align="center" valign="bottom">
											    	<img src="../img/rd/19.gif" />
											    	<br />
												    新型电池产业技术创新战略联盟
												</td>

											</tr>

											<tr valign="top">
											    <td width="50%" align="center" valign="bottom">
											    	<img src="../img/rd/02.gif" />
											    	<br />
												    国家高新技术企业
												</td>
											    <td align="center" valign="bottom">
											    	<img src="../img/rd/03.gif" />
											    	<br />
												    国家重点新产品（电动汽车电池）
												</td>

											</tr>
											<tr valign="top">
											    <td align="center" valign="bottom">
											    	<img src="../img/rd/04.gif" />
											    	<br />
												    国家火炬计划重点高新技术企业</td>
											    <td align="center" valign="bottom">
											    	<img src="../img/rd/05.gif" />
											    	<br />
												    2010年国家火炬计划项目
												</td>

											</tr>
											<tr valign="top">
											    <td align="center" valign="bottom">
												    <img src="../img/rd/06.gif" />
												    <br />
												    国家重点新产品证书
											    </td>
											    <td align="center" valign="bottom">
											    	<img src="../img/rd/07.gif" />
											    	<br />
												    国家重点新产品证书
												</td>

											</tr>
											<tr valign="top">
											    <td align="center" valign="bottom">
											    	<img src="../img/rd/09.gif" />
											    	<br />
												    国家重点新产品证书
												</td>
											    <td align="center" valign="bottom">
											    	<img src="../img/rd/10.gif" />
											    	<br />
												    国家重点新产品证书
												</td>

											</tr>
											<tr valign="top">
											    <td align="center" valign="bottom">
											    	<img src="../img/rd/11.gif" />
											    	<br />
												    国家重点新产品证书
												</td>
											    <td align="center" valign="bottom"><img src="../img/rd/12.gif" /><br />
												 国家重点新产品证书</td>

											</tr>
											<tr valign="top">
											    <td align="center" valign="bottom">
											    	<img src="../img/rd/13.gif" />
											    	<br />
												    国家重点新产品证书
												</td>
											    <td align="center" valign="bottom">
											    	<img src="../img/rd/14.gif" />
											    	<br />
												    重点高新技术企业证书
												</td>

											</tr>
											<tr valign="top">
											    <td align="center" valign="bottom">
											    	<img src="../img/rd/27.gif" />
											    	<br />
												    TS16949质量管理体系认证
												</td>
											    <td align="center" valign="bottom"></td>

											</tr>
            							</tbody>
            						</table>
            					</div>
            					<div class="text-cont" name="cont" style="display: none;">
            						<table width="100%" border="0" cellpadding="0" cellspacing="20">
            							<tbody>
            								<tr valign="top">
                                                <td align="center" valign="bottom">
                                                	<img src="../img/honour/09.gif" />
                                                	<br />
                                                    中国电池工业协会副理事长单位
                                                </td>
                                                <td align="center" valign="bottom">
                                                	<img src="../img/honour/02.gif" />
                                                	<br />
                                                    中国能源协会副理事长 
                                                </td>
                                            </tr>
                                            <tr valign="top">
                                                <td align="center" valign="bottom">
                                                	<img src="../img/honour/15.gif" />
                                                	<br />
                                                    中国化学与物理电源行业协会副理事长单位
                                                </td>
                                                <td align="center" valign="bottom">
                                                	<img src="../img/honour/10.gif" />
                                                	<br />
                                                    中国自行车协会副理事长单位
                                                </td>
                                            </tr>
                                            <tr valign="top">
                                                <td align="center" valign="bottom">
                                                	<img src="../img/honour/18.gif" />
                                                	<br />
                                                    全国工商联科技装备业商会副会长单位
                                                </td>
                                                <td align="center" valign="bottom">
                                                	
                                                </td>
                                            </tr>
            							</tbody>
            						</table>
            					</div>
            				</div>
            			</div>
            		</div>
            		<div class="pt-foot"></div>
            	</div>
            </div>
		</div>
		<div class="footer">
        	<div class="wrapper">
        		<div class="foot-logo">
                <img src="../img/foot-logo.jpg">
                </div>
                <!-- 底部logo -->
                <div class="foot-copy">
                	<div class="copy-wrap">
                		@ 
                		<script type="text/javascript">var date = new Date();document.write(date.getFullYear());
                	    </script> 
                	    天能动力香港有限公司。版权所有 不得转载。 <span>|</span> 
                		<a href="javascript" onclick="javascript:window.open('disclaimer.php','disclaimer','status=yes,scrollbars=no,width=400,height=420')">免责声明</a>	
                		<span>|</span>                    		
                		<a href="" target="blank">联系我们</a>                   		
                	</div>

                </div>
        	</div>

        </div>
        <div class="page-bg about-bg">      
        </div>
	</div>

</body>
</html>