<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="content-language" content="zh-CN" />
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        <meta name="renderer" content="webkit">
        <link rel="stylesheet" type="text/css" href="..\css\style.css">
        <!-- <link rel="stylesheet" type="text/css" href="..\css\slide.css"> -->
        <title>天能动力香港有限公司</title>
<!--         <link href="favicon.ico" rel="shortcut icon">
        <link rel="stylesheet" href="static/layer_mobile/need/layer.css">
        <link rel="stylesheet" href="static/css/animate.css">
        <link rel="stylesheet" href="static/css/reset.css">
        <link rel="stylesheet" href="static/css/style.css">
        <script src="static/js/jquery-1.11.3.js"></script>
        <script src="static/js/html5.js"></script>
        <script src="static/js/adaptive-version2.js"></script>
        <script src="static/js/jquery.easing.1.3.js"></script>
        <script src="static/js/jquery.transit.js"></script>
        <script src="static/layer_mobile/layer.js"></script>
        <script src="static/js/jquery.mousewheel.js"></script>
        <script src="static/js/wow.min.js"></script> -->
    </head>
    <body class="body-s">
        <div class="outer-box">
        	<!-- <div class="bg"></div> -->
            <div class="top">
                <!-- 头 -->
                <div class="wrapper">
                	<div class="logo">
                        <a href="">
                            <img src="../img/logo.jpg" alt="logo">
                        </a>
                    </div>
                    <!-- 带链接的logo图片 -->
                    <div class="top-right">
                        <div class="function">
                            <div class="lang-bar">
<!--                             	<li class="lang1">
                            		<a href=""></a>
                            	</li>
                            	<li class="lang2">
                            		<a href=""></a>
                            	</li> -->
                            </div>
                            <div class="search-box">
                            	<div class="search-input">
                            		<input type="text" value="搜索" id="search-box" name="textfield" onfocus="if (value =='搜寻'){value =''}"  onblur="if (value ==''){value='搜寻'}">
                            	</div>
                            	<div class="search-btn">
                            		<a href="#"></a>
                            	</div>
                            </div>
                            <div class="text-box">
                            	<ul>
                            		<li class="tx1 current"></li>
                            		<li class="tx2">
                            			<a href=""></a>
                            		</li>
                            		<li class="tx3">
                            			<a href=""></a>
                            		</li>

                            	</ul>
                            </div>
                            <div class="home-mu">
                            	<ul>
                            		<li class="hm1">
                            			<a href=""></a>
                            		</li>
                            		<li class="hm2"></li>
                            		<li class="hm3">
                            			<a href=""></a>
                            		</li>
                            	</ul>
                            </div>
                        </div>
                        <!-- 功能栏 -->
                        <div class="menu">
                            <ul>
                                <!-- <li class="mu-li1">
                                    <a href=""></a>
                                </li>
                                <li class="mu-li2">
                                    <a href=""></a>
                                </li> -->
                                <li class="mu-li3">
                                    <a href=""></a>
                                </li>
                                <li class="mu-li4">
                                    <a href=""></a>
                                </li>
                                <li class="mu-li5">
                                	<a href=""></a>
                                </li>
                                <li class="mu-li6 current">
                                	<a href=""></a>
                                </li>
                            </ul>
                        </div>
                        <!-- 横向导航 -->
                    </div>
                </div>
                
            </div>
            <div class="page-content">
                <div class="page-left">
                    <div class="left-mu">
                        <ul>
                            <li>
                            	<a href="../view/about">集团概况</a>
                            </li>
                            <li  class="current">
                            	<a href="">集团景愿</a>
                            </li>
                            <li>
                            	<a href="">主席致辞</a>
                            </li>
                            <li>
                            	<a href="">集团荣誉</a>
                            </li>
                            <li>
                            	<a href="">公司资料</a>
                            </li>
                        </ul>
                    </div>
                    <!-- 左侧导航 -->
<!--                     <div class="stock-info">
                        <iframe src="http://simchigw.infocastfn.com/gate/gb/iportal.infocastfn.com/TianNeng/TinyStockQuote2.asp?LangId=2"frameborder="0"  width="100%" height="100%" scrolling="no" allowtransparency="true"> </iframe>
                        股票信息
                    </div> -->
                </div>
                <div class="page-right">
                    <div class="page-title">
                    	<img src="../img/about-t2.png">
                    </div>
                    <!-- 文本主体部分标题 -->
                    <div class="page-txt">
                        <!-- 网页正文 -->
                        <div class="pt-top">
                        	<div class="pt">
                        		<div class="page-inner">
                        			<div class="page-main">
                        				<table width="100%" border="0" cellpadding="0" cellspacing="0" class="miss_table">
                        					<tbody>
                        						<tr>
                                                    <td width="21%" valign="top" bgcolor="#f2f2f2">
                                                    	<b>使命：</b>
                                                    </td>
                                                    <td width="79%" bgcolor="#f2f2f2">绿色能源 驱动世界
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td valign="top">
                                                    	<b>愿景：</b>
                                                    </td>
                                                    <td>全球领先的绿色能源解决方案商
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td valign="top" bgcolor="#f2f2f2">
                                                    	<b>核心价值观：</b>
                                                    </td>
                                                    <td bgcolor="#f2f2f2">责任为魂、创新共赢
                                                    </td>
                                                </tr>
                        					</tbody>
                        				</table>
                        			</div>
                        		</div>
                        	</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer">
            	<div class="wrapper">
            		<div class="foot-logo">
                    <img src="../img/foot-logo.jpg">
                    </div>
                    <!-- 底部logo -->
                    <div class="foot-copy">
                    	<div class="copy-wrap">
                    		@ 
                    		<script type="text/javascript">var date = new Date();document.write(date.getFullYear());
                    	    </script> 
                    	    天能动力香港有限公司。版权所有 不得转载。 <span>|</span> 
                    		<a href="javascript" onclick="javascript:window.open('disclaimer.php','disclaimer','status=yes,scrollbars=no,width=400,height=420')">免责声明</a>	
                    		<span>|</span>                    		
                    		<a href="" target="blank">联系我们</a>                   		
                    	</div>

                    </div>
            	</div>

            </div>
            <div class="page-bg about-bg">
 <!--                <img src="../img/ir_bg.jpg" alt="bg">  -->         
            </div>
    </body>
</html>