<!DOCTYPE html>
<html lang="en">
<head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="content-language" content="zh-CN" />
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        <meta name="renderer" content="webkit">
        <link rel="stylesheet" type="text/css" href="..\css\style.css">
        <!-- <link rel="stylesheet" type="text/css" href="..\css\slide.css"> -->
        <title>天能动力香港有限公司</title>
<!--         <link href="favicon.ico" rel="shortcut icon">
        <link rel="stylesheet" href="static/layer_mobile/need/layer.css">
        <link rel="stylesheet" href="static/css/animate.css">
        <link rel="stylesheet" href="static/css/reset.css">
        <link rel="stylesheet" href="static/css/style.css">
        <script src="static/js/jquery-1.11.3.js"></script>
        <script src="static/js/html5.js"></script>
        <script src="static/js/adaptive-version2.js"></script>
        <script src="static/js/jquery.easing.1.3.js"></script>
        <script src="static/js/jquery.transit.js"></script>
        <script src="static/layer_mobile/layer.js"></script>
        <script src="static/js/jquery.mousewheel.js"></script>
        <script src="static/js/wow.min.js"></script> -->
    </head>
    <body class="body-s">
        <div class="outer-box">
        	<!-- <div class="bg"></div> -->
            <div class="top">
                <!-- 头 -->
                <div class="wrapper">
                	<div class="logo">
                        <a href="">
                            <img src="../img/logo.jpg" alt="logo">
                        </a>
                    </div>
                    <!-- 带链接的logo图片 -->
                    <div class="top-right">
                        <div class="function">
                            <div class="lang-bar">
<!--                             	<li class="lang1">
                            		<a href=""></a>
                            	</li>
                            	<li class="lang2">
                            		<a href=""></a>
                            	</li> -->
                            </div>
                            <div class="search-box">
                            	<div class="search-input">
                            		<input type="text" value="搜索" id="search-box" name="textfield" onfocus="if (value =='搜寻'){value =''}"  onblur="if (value ==''){value='搜寻'}">
                            	</div>
                            	<div class="search-btn">
                            		<a href="#"></a>
                            	</div>
                            </div>
                            <div class="text-box">
                            	<ul>
                            		<li class="tx1 current"></li>
                            		<li class="tx2">
                            			<a href=""></a>
                            		</li>
                            		<li class="tx3">
                            			<a href=""></a>
                            		</li>

                            	</ul>
                            </div>
                            <div class="home-mu">
                            	<ul>
                            		<li class="hm1">
                            			<a href=""></a>
                            		</li>
                            		<li class="hm2"></li>
                            		<li class="hm3">
                            			<a href=""></a>
                            		</li>
                            	</ul>
                            </div>
                        </div>
                        <!-- 功能栏 -->
                        <div class="menu">
                            <ul>
                                <!-- <li class="mu-li1">
                                    <a href=""></a>
                                </li>
                                <li class="mu-li2">
                                    <a href=""></a>
                                </li> -->
                                <li class="mu-li3">
                                    <a href=""></a>
                                </li>
                                <li class="mu-li4">
                                    <a href=""></a>
                                </li>
                                <li class="mu-li5">
                                	<a href=""></a>
                                </li>
                                <li class="mu-li6">
                                	<a href=""></a>
                                </li>
                            </ul>
                        </div>
                        <!-- 横向导航 -->
                    </div>
                </div>
                
            </div>
            <div class="page-content">
                <div class="page-left">
                    <div class="left-mu">
                        <ul>
                            <li class="current">
                            	<a href="../view/about">集团概况</a>
                            </li>
                            <li>
                            	<a href="">集团景愿</a>
                            </li>
                            <li>
                            	<a href="">主席致辞</a>
                            </li>
                            <li>
                            	<a href="">集团荣誉</a>
                            </li>
                            <li>
                            	<a href="">公司资料</a>
                            </li>
                        </ul>
                    </div>
                    <!-- 左侧导航 -->
<!--                     <div class="stock-info">
                        <iframe src="http://simchigw.infocastfn.com/gate/gb/iportal.infocastfn.com/TianNeng/TinyStockQuote2.asp?LangId=2"frameborder="0"  width="100%" height="100%" scrolling="no" allowtransparency="true"> </iframe>
                        股票信息
                    </div> -->
                </div>
                <div class="page-right">
                    <div class="page-title">
                    	<img src="../img/about-t1.png">
                    </div>
                    <!-- 文本主体部分标题 -->
                    <div class="page-txt">
                        <div class="about-left">
                            <img src="../img/about.jpg">
                            <!-- 插图 -->
                        </div>
                        <div class="about-right">
                        	<div class="ab-r-top"></div>
                        	<div class="ab-r-mid">                       		
                        		<div class="page-ab">
                        			<p>
                        				天能动力香港有限公司（「
                        				<strong>本公司</strong>
                        				」或「
                        				<strong>天能动力</strong>
                        				」）及其附属公司（「
                        				<strong>本集团</strong>」）在中华人民共和国（「中国」）秉持「绿色能源 驱动世界」的使命，以成为「全球领先的绿色能源解决方案商」为愿景，经过32年的发展，本集团已发展成为集电动车动力电池、智慧能源解决方案以及再生资源回收利用等业务为一体的新能源高科技企业。
                        			</p>
			                        <p>
			                            本公司业务于一九八六年成立，并于二零零七年成功在香港联合交易所有限公司（「 联交所」）主板上市。截至二零一七年十二月三十一日，本集团在中国四个省拥有九个生产基地，分别位于浙江省长兴县(1)长兴总部(2)煤山镇和(3)和平镇，江苏省(4)沭阳县，安徽省(5)芜湖市和(6)界首市及河南省(7)濮阳市(8)济源市和(9)孟州市。
			                        </p>
			                        <p>
			                            国际资本市场对本集团经过多年调研与观察，对本集团作出了充分的肯定：本公司分别入选中国低碳指数成分股、香港恒生综合指数成分股、恒生环球综合指数成分股、恒生可持续发展企业指数成分股、摩根士丹利中国小型股指数成分股以及深港通标的股等。
			                        </p>
                        		</div>
                        	</div>
                        </div>
                        <!-- 网页正文 -->
                    </div>
                </div>
            </div>
            <div class="footer">
            	<div class="wrapper">
            		<div class="foot-logo">
                    <img src="../img/foot-logo.jpg">
                    </div>
                    <!-- 底部logo -->
                    <div class="foot-copy">
                    	<div class="copy-wrap">
                    		@ 
                    		<script type="text/javascript">var date = new Date();document.write(date.getFullYear());
                    	    </script> 
                    	    天能动力香港有限公司。版权所有 不得转载。 <span>|</span> 
                    		<a href="javascript" onclick="javascript:window.open('disclaimer.php','disclaimer','status=yes,scrollbars=no,width=400,height=420')">免责声明</a>	
                    		<span>|</span>                    		
                    		<a href="" target="blank">联系我们</a>                   		
                    	</div>

                    </div>
            	</div>

            </div>
            <div class="page-bg about-bg">
 <!--                <img src="../img/ir_bg.jpg" alt="bg">  -->         
            </div>
        </div>
        <!-- <div class="slide-wrap">
        	<div class="flexslider">
        		<ul class="slides">
        			<li class="slide1"></li>
		            <li class="slide2"></li>
                    <li class="slide3"></li>
                    <li class="slide4"></li>
        		</ul>
        	</div>
        </div> -->
        
    	
	
    </body>
</html>