<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="content-language" content="zh-CN" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="renderer" content="webkit">
    <link rel="stylesheet" type="text/css" href="..\css\style.css">
    <!-- <link rel="stylesheet" type="text/css" href="..\css\slide.css"> -->
    <title>天能动力香港有限公司</title>
</head>
<body class="body-s">
	<div class="outer-box">
		<div class="top">
			<div class="wrapper">
				<div class="logo">
                    <a href="">
                        <img src="../img/logo.jpg" alt="logo">
                    </a>
                </div>
                <div class="top-right">
                	<div class="function">
                        <div class="lang-bar">
                        </div>
                        <div class="search-box">
                        	<div class="search-input">
                        		<input type="text" value="搜索" id="search-box" name="textfield" onfocus="if (value =='搜寻'){value =''}"  onblur="if (value ==''){value='搜寻'}">
                        	</div>
                        	<div class="search-btn">
                        		<a href="#"></a>
                        	</div>
                        </div>
                        <div class="text-box">
                        	<ul>
                        		<li class="tx1 current"></li>
                        		<li class="tx2">
                        			<a href=""></a>
                        		</li>
                        		<li class="tx3">
                        			<a href=""></a>
                        		</li>

                        	</ul>
                        </div>
                        <div class="home-mu">
                        	<ul>
                        		<li class="hm1">
                        			<a href=""></a>
                        		</li>
                        		<li class="hm2"></li>
                        		<li class="hm3">
                        			<a href=""></a>
                        		</li>
                        	</ul>
                        </div>
                    </div>
                    <div class="menu">
                        <ul>
                            <!-- <li class="mu-li1">
                                <a href=""></a>
                            </li>
                            <li class="mu-li2">
                                <a href=""></a>
                            </li> -->
                            <li class="mu-li3">
                                <a href=""></a>
                            </li>
                            <li class="mu-li4">
                                <a href=""></a>
                            </li>
                            <li class="mu-li5 current">
                            	<a href=""></a>
                            </li>
                            <li class="mu-li6">
                            	<a href=""></a>
                            </li>
                        </ul>
                    </div>
                </div>
			</div>
		</div>
		<div class="page-content">
			<div class="page-left">
                <div class="left-mu">
                    <ul>
                        <li class="current">
                        	<a href="">先进铅电池系统解决方案</a>
                        </li>
                        <li>
                        	<a href="">循环经济全产业链解决方案</a>
                        </li>
                        <li>
                        	<a href="">无车承运解决方案</a>
                        </li>
<!--                         <li>
                        	<a href="">集团荣誉</a>
                        </li>
                        <li class="current">
                        	<a href="">公司资料</a>
                        </li> -->
                    </ul>
                </div>
            </div>
            <div class="page-right">
            	<div class="page-title">
            		<img src="../img/sc01.png">
            	</div>
            	<div class="page-txt">
            		<div class="pt-top"></div>
            		<div class="pt">
            			<div class="page-inner">
            				<div class="page-main disc">
            					<table border="0" cellpadding="0" cellspacing="0">
            						<tbody>
            							<tr>
            								<td width="250" valign="top">
            									<img src="../img/bus-img15.jpg" width="250">
            								</td>
            								<td>
            									<b>真黑金电池：</b>
            									<br />
                                                <ul>
                                                    <li>不怕跑、不怕冷、不怕重、不怕鼓！</li>
                                                    <li>三大行业顶尖材料（石墨烯合金、超级碳纤维、复合稀土合金），六项天能独创工艺，一个独家研制。</li>
                                                    <li>多元复合稀土合金制造的板栅，解决阳极膜问题，促使电池更耐用，寿命更长。</li>
                                                    <li>正极配方中添加了超稳定碳纤维，使得电池拥有更强的动力。</li>
                                                    <li>负极配方中添加了黑金---石墨烯，可以提升电池的低温性能。</li>
                                                    <li>独家研制的神秘塑壳配料，极大增强了塑壳散热性能，防止电池鼓包。</li>
                                              </ul>
            								</td>
            							</tr>
            							<tr>
            								<td>
            									<br/>
            								</td>
            								<td>
            									<br/>
            								</td>
            							</tr>
            							<tr>
            								<td width="250" valign="top">
<!--             									<img src="../img/bus-img12.jpg"> -->
            								</td>
            								<td>
            									<b>H6衡电池：</b>
            									<br/>
                                                <ul>
                                                    <li>反应均衡：独特的极板添加剂配方：Magneli相亚氧化钛（Ti4O7）</li>
                                                    <li>电位均衡：独创的绿色合金，九道工序、十道工艺真空配制八元稀土合金</li>
                                                    <li>电解液均衡：前沿的水平电池装配工艺</li>
                                                    <li>结构均衡：工业4.0连续化生产智能制造技术</li>
                                                    <li>温度均衡：有限元矩阵分析设计</li>
                                                    <li>氧复合均衡：第三电极专利技术 国家专利号：ZL201210070685.8</li>
                                                </ul>
            								</td>
            							</tr>
            						</tbody>
            					</table>
            				</div>
            			</div>
            		</div>
            	</div>
            </div>
		</div>
		<div class="footer">
        	<div class="wrapper">
        		<div class="foot-logo">
                <img src="../img/foot-logo.jpg">
                </div>
                <!-- 底部logo -->
                <div class="foot-copy">
                	<div class="copy-wrap">
                		@ 
                		<script type="text/javascript">var date = new Date();document.write(date.getFullYear());
                	    </script> 
                	    天能动力香港有限公司。版权所有 不得转载。 <span>|</span> 
                		<a href="javascript" onclick="javascript:window.open('disclaimer.php','disclaimer','status=yes,scrollbars=no,width=400,height=420')">免责声明</a>	
                		<span>|</span>                    		
                		<a href="" target="blank">联系我们</a>                   		
                	</div>

                </div>
        	</div>

        </div>
        <div class="page-bg bus-bg">      
        </div>
	</div>

</body>
</html>